{% extends 'task_app/navbar.html' %} {% block content2 %} {% if searched %}
<h1 class="my-2">You've searched for {{searched}}</h1>
<div class="card-columns">
  {% for task in tasks %} {% if task.complete %}

  <div class="card border-success mb-3" style="max-width: 25rem">
    <div class="card-header">
      <i
        ><s>
          <h5 class="card-title">
            <a
              href="{% url 'task_app:detail_task' task.id %}"
              class="text-success"
            >
              {{task}}
            </a>
          </h5>
        </s></i
      >
    </div>
    <div class="card-body text-success">
      <p class="card-text">{{task.description}}</p>
      <a
        href="{% url 'task_app:delete_task' task.id%}"
        class="btn btn-outline-danger btn-sm"
        ><i class="fa-solid fa-trash-can"></i
      ></a>
    </div>
  </div>

  {% else %}

  <div class="card border-primary mb-3" style="max-width: 25rem">
    <div class="card-header">
      <h5 class="card-title">
        <a href="{% url 'task_app:detail_task' task.id %}"> {{task}} </a>
      </h5>
    </div>
    <div class="card-body text-dark">
      <p class="card-text">{{task.description}}</p>
      <a
        href="{% url 'task_app:delete_task' task.id%}"
        class="btn btn-outline-danger btn-sm"
        ><i class="fa-solid fa-trash-can"></i
      ></a>
    </div>
  </div>
  {% endif %} {% endfor %}
</div>
{% else %}
<h1 class="my-2">You forgot to input your search</h1>
{% endif %} {% endblock content2 %}
