{% extends 'task_app/navbar.html' %} {% block content2 %} {% load static %}

  <div class="row my-5 align-items-center">
    <div class="col-6">
      <img
        src="{% static 'members/Task-cuate.png' %}"
        alt=""
        width="512"
        height="512"
      />
    </div>
    <form method="POST" class="col-6">
      {% csrf_token %} {% for field in form %} {{field}} {% endfor %}
      <br />
      <input type="submit" value="Update" class="btn btn-outline-secondary" />
    </form>
  </div>


{% endblock content2 %}
